a {
  color: var(--noir);
  text-decoration: none;
  /* &:visited {
    color: var(--complementaire);
  } */
  &:hover,
  &:focus,
  &:active {
    color: var(--primaire);
  }
}
#site-navigation{
  a{
    color: white;
  }
  a:hover {
    color: var(--primaire);
  }
}
.categorie__article{
  a:hover {
    color: var(--complementaire);
  }
}
.inscription_programme .grille_cours{
  a{
    color: var(--noir);
  }
}

.menu-projets {
  background-color: var(--simili-noir);
}

/* .menu-evenements {
  background-color: var(--simili-noir);
} */