a {
  color: var(--noir);
  text-decoration: none;
  /* &:visited {
    color: var(--complementaire);
  } */
  &:hover,
  &:focus,
  &:active {
    color: var(--primaire);
  }
}
#site-navigation{
  a{
    color: white;
  }
  a:hover {
    color: var(--primaire);
  }
}
.categorie__article{
  a:hover {
    color: var(--complementaire);
  }
}
.inscription_programme .grille_cours{
  a{
    color: var(--noir);
  }
}

.menu-menu-principal-container {
  a{
    color: var(--blanc);
    &:hover,
    &:focus,
    &:active {
    color: var(--primaire);
  }
  }
}

.site__aside{
  .menu-projets, .menu-evenements{
    a{
      color: var(--blanc);
      &:hover,
    &:focus,
    &:active {
    color: var(--primaire);
  }
    }
  }
}

.categorie__section{
  .categorie__article{
    a{
      color: var(--blanc);
    &:hover,
    &:focus,
    &:active {
    color: var(--primaire);
  }
    }
  }
}

.site_pied_page{
  a{
    color: var(--blanc);
  text-decoration: none;
  &:hover,
  &:focus,
  &:active {
    color: var(--primaire);
  }
  }
}

.inscription_programme{
  a{
    color: var(--simili-noir);
    &:hover,
  &:focus,
  &:active {
    background-color: var(--simili-noir);
    color: var(--complementaire);
  }
  }
}

.Liste_programme{
  .cours_session{
    .filter-button{
      color: var(--noir);
    }
  }
  #content{
    .article-button{
      color: var(--blanc);
      &:hover,
  &:focus,
  &:active {
    color: var(--primaire);
  }
    }

    .article-content{
      .boutton_retour{
        color: var(--blanc);
      }
    }
  }
}

.menu-projets {
  background-color: var(--simili-noir);
}