a {
  color: var(--blanc);
  text-decoration: none;
  &:visited {
    color: var(--complementaire);
  }
  &:hover,
  &:focus,
  &:active {
    color: var(--primaire);
  }
}

.menu-trier {
  background-color: var(--simili-noir);
}