/** 

Fichier pour les variables du thème (couleurs, root, polices)

*/

:root{

/* ***************************************************************************** Couleurs *** */

--test: hsl(195, 86%, 52%);

--noir:  hsl(192, 38%, 3%);


--couleur1: hsl(195, 86%, 62%);
--courleur2: hsl(91, 86%, 62%);


  /* **************************************************************** Polices *** */
  --police-sans:'Roboto', sans-serif;
  --police-serif:'Roboto Slab', serif;





/* ***************************************************************************** Espacement *** */




}