/* 
** Tout ce qui concerne la page d'accueil (sauf balise main) - front-page.php
 ---> les balises section, article, les div
*/



.accueil_description {
  background-color: hsl(180, 13%, 60%);
  min-height: 50vh; 
  width: 100%;
}

.accueil_evenements {
  background-color: hsl(180, 13%, 65%);
  min-height: 50vh; 
  width: 100%;
}

.accueil_programme {
  background-color: hsl(180, 13%, 70%);
  min-height: 50vh; 
  width: 100%;
}