/* 
** Tout ce qui concerne la page d'accueil (sauf balise main) - front-page.php
 ---> les balises section, article, les div
*/



.accueil_description {
  background-color: var(--blanc);
  min-height: 50vh; 
  width: 100%;
}

.accueil_evenements {
  background-color: var(--primaire);
  min-height: 55vh; 
  width: 100%;
  position: relative;

  h4{
    margin-top: 4vh;
    padding-bottom: 2vh;
    text-align: center;
  }
  /* Boite d'évènement récent */
  .categorie__article{ 
    background-color: var(--simili-noir);
    border-radius: 5%; // arrondir les coins
    color: var(--blanc); // couleur texte blanc
    left: 0; // Centrer horizontalement
    margin: 0 auto; // Centrer horizontalement
    overflow: hidden;
    position: absolute;
    right: 0; // Centrer horizontalement
    text-align: center; // Center le texte
    width: 90vw;

    // Les informations necessaires/importants -titre -image -Date
    div:first-child{
      background-color: var(--simili-noir);
      
      a img{
        margin: 0;
        width: 100%;
      }
      h3{
        margin-top: 1.5vh;
      }
      div{
        margin-top: 0.5vh;
        padding-bottom: 1.5vh;
        display: flex;
        font-weight: bold;
        gap: 2px;
        justify-content: center;
        
      }
    }
    // Les informations secondaires -Descriptions -additionnels -information de l'articles
    div:nth-child(2){
      display: none;
      background-color: var(--simili-noir);
    
    }
  }
}

.accueil_programme {
  background-color: var(--complementaire);
  min-height: 50vh; 
  width: 100%;
}


@media screen and (min-width:$largeur__tablette){
  .accueil_evenements {
    background-color: none;
    min-height: 90vh; 

  /* Boite d'évènement récent */
    .categorie__article{ 
      border: 1px solid red;
      display: flex;
      justify-content: space-between;
      background-color: var(--primaire); // reste a voir
      border-radius: 0; // arrondir les coins
      color: var(--blanc); // couleur texte blanc
      width: 80vw;

      // Les informations necessaires/importants -titre -image -Date
      div:first-child{
        background-color: var(--simili-noir);
        overflow: hidden;
        border-radius: 5%;
        width: 35vw;
      
        a img{
          margin: 0;
          width: 100%;
        }
        div{
          margin-top: 0.5vh;
          padding-bottom: 1.5vh;
          display: flex;
          font-weight: bold;
          gap: 2px;
         justify-content: center;
        }
    }
    // Les informations secondaires -Descriptions -additionnels -information de l'articles
    div:nth-child(2){
      display: block;
      overflow: hidden;
      border-radius: 5%;
      width: 44vw;
      text-align: left;
      p,h5,div{
        width: 35vw;
        margin: 0 auto;
      }
      p:first-child{ // Description
        margin-top: 2vh;
      }
      h5{
        margin-top: 2vh;
      } 
      div{
        display: flex;
        justify-content: left;
      }
      div:first-of-type{
        margin-top: 2vh;
      }
      div:last-of-type{
        padding-bottom: 2vh;
      }
    }
  }
  } 
}  