/* 
** Tout ce qui concerne la page d'accueil (sauf balise main) - front-page.php
 ---> les balises section, article, les div
*/
.accueil_description { // La section qui contient la phrase punch de la page d'accueil
  background-color: var(--blanc);
  padding-top: 3vh;
  padding-bottom: 6vh;
  width: 100%;
  div{
    margin-top: 2vh;
  }
  p,h2{
    margin: 0 auto;
    width: 75vw;
  }
  hr{
    background-color: black;
    height: 0.1vh;
    margin: 0 auto;
    margin-top: 6vh;
    width: 15%;  
  }
}

.accueil_evenements { // la section qui contient les évènement récents
  background-color: var(--primaire);
  padding-top: 8vw; // espacement haut
  padding-bottom: 6vw; // espacement bas
  width: 100%; // largeur
  a{
    color: var(--blanc); //a retirer
  }
  h2{ // le titre
    text-align: center;
    padding-bottom: 8vw;
  }

  .evenements_recents{ // le div qui contient tous les boîtes d'évènements récents
    height: 75vw; 
  }
  /* Boite d'évènement récent */
  .categorie__article{ 
    // background-color: var(--simili-noir);
    border-radius: 2vh; // arrondir les coins
    color: var(--blanc); // couleur texte blanc
    display: flex;
    height: 55vw;
    overflow: hidden; // pour que les coin du haut reste courber
    text-align: center; // Center le texte
    width: 85vw;

    div{
      width: 100%;
    }
    // Les informations necessaires/importants -titre -image -Date
    .image_titre_date{
      background-color: var(--simili-noir);
      height: 100%;
      .contenant__image {
        height: 78%;
        margin: 0;
        overflow: hidden;
        padding: 0;
        a img{
          height: 110%;
          margin: auto auto;
          width: 110%;
        }
      }
     .contenant__titre{
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 12vw; // le full height (55vw) - l'hauteur de l'image ( 80% de 55 vw )
        justify-content: center;
        margin: auto;
        .conteneur_date{
          display: flex;
          gap: 0.3vw;
          align-items: center;
          justify-content: center;
        }
      }
    }
    // Les informations secondaires -Descriptions -additionnels -information de l'articles
    .content{
      background-color: var(--simili-noir);
      display: none;
    }
  }
}
.accueil_programme { // section de inscription
  display: flex;
  flex-direction: column;
  width: 100%;

  .widget_block{
    border: 1px solid black;
    min-height: 30vh; 
    padding-bottom: 5%;
    padding-top: 20vh;
    position: relative;

    .widget-title{
      margin: 0 auto; // Centrer horizontalement
      width: 90%;
    }
    .wp-widget-group__inner-blocks{
      margin: 0 auto; // Centrer horizontalement
      margin-top: 2%;
      width: 90%;
    }
  }
  .widget_block:first-of-type{ // Le premier bloc : tu veux nous rejoindre4
    background-color: var(--complementaire);
    padding-top: 5%;
    .wp-widget-group__inner-blocks{
      padding-bottom: 5%;
    }
    .wp-block-buttons{ // le bouton plus de détails
      // position: absolute;
      padding-top: 10%;
      
      a{ // style du bouton
         background-color: var(--complementaire);
         border: 1px solid var(--simili-noir);
         color: var(--simili-noir);
      }
    }
  }
  .widget_block:nth-of-type(2){
    margin: 0;
    p{
      color: white;
      z-index: 4;
    }
  }
  .widget_block:last-of-type{
    margin: 0;
    background-color: rgb(186, 186, 206);
    p{
      color: white;
      z-index: 4;
    }

  }
}



@media screen and (min-width:$largeur__tablette){ // Début requête média Tablette
  .accueil_evenements { 
    padding: 4vw 0;
    h2{ // le titre
      padding-bottom: 3vw;
    }
    .evenements_recents{ // le div qui contient tous les boîtes d'évènements récents
      height: 40vw;
      /* Boite d'évènement récent */
      .categorie__article{ 
        border-radius: 0; // on enleve l'arrondissement et on met au enfant
        height: 30vw; // ajustement de l'hauteur
        justify-content: space-between; // met un à cote de l'autre
        width: 82vw; // ajustement de largeur

        // Les informations necessaires/importants -titre -image -Date
        .image_titre_date{
          border-radius: 7%; // arrondis
          overflow: hidden; // pour garder les coins arrondis
          width: 35vw;
          .contenant__titre{
          height: 6.5vw; // le full height - l'hauteur de l'image
          }
        }
        // Les informations secondaires -Descriptions -additionnels -information de l'articles
        .content{ // contenant qui contient toutes les informations secondaires
          border-radius: 7%; // avoir des sommets rond
          display: block; // afficher le contenu
          position: relative; // necessaire pour centre le contenu
          text-align: left; // pour que le texte s'affiche vers la gauche
          width: 46vw; // grosseur
          .contenant_contenu{  // contenu
            position: absolute; // necessaire pour centre le contenu
            top: 50%; // necessaire pour centre le contenu
            left: 50%; // necessaire pour centre le contenu
            transform: translate(-50%, -50%); // necessaire pour centre le contenu
            margin: auto; // necessaire pour centre le contenu
            p,h5,div{
              margin: 0 auto; // centrer horizontal
              width: 38vw; // largeur
            }
            div{ // pour mettre les icone et les information a cote
              display: flex;
              justify-content: left;
              align-items: center;
              width: 38vw;
              gap: 0.3vw;
            }
          }
          .contenant_contenu > p:last-of-type, .contenant_contenu > p:first-of-type{  padding-bottom: 1.5vw;}
        }
      }
    }
  }
  .accueil_programme { // section de inscription
  flex-direction: row; // changement de l'affichement en ligne
    .widget_block{
      display: flex;
      flex-direction: column;
      padding: 0;
      padding-bottom: 0;
      padding-top: 16vh;
      width: inherit; // prennent tout la taille de la section
    }
    .widget_block:first-of-type{ // Le premier bloc : tu veux nous rejoindre4
      justify-content: flex-start;
      padding-top: 5%;
    }
  }
}// Fin requête média Tablette

@media screen and (min-width:$largeur__bureau_large){ // Début requête média Bureau
  .accueil_evenements { 
    padding: 3vw 0;
    h2{ // le titre
      padding-bottom: 1vw;
    }
    .evenements_recents{ // le div qui contient tous les boîtes d'évènements récents
      height: 30vw;
      /* Boite d'évènement récent */
      .categorie__article{ 
        height: 23vw;
        width: 75vw;
        // Les informations necessaires/importants -titre -image -Date
        .image_titre_date{
          width: 30vw;
          .contenant__titre{
          height: 5vw; // le full height - l'hauteur de l'image
          }
        }
        // Les informations secondaires -Descriptions -additionnels -information de l'articles
        .content{
          width: 44vw;
        }
      }
    }
  }
}