table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
button {
    //margin: 10px;
}

/*-----------------------description et inscription--------------------------*/

.info_programme{//description et inscription

    .description_programme{
        margin: 0 auto;
        margin-top: 2em;
        width: 80%;
        padding: 2em;
        h2{
            padding-bottom: 2em;
        }
    }

    .inscription_programme{
        align-items: center;
        background-color: var(--complementaire);
        box-shadow: 12px 12px 8px 1px rgba(0,0,0,0.16);
        display: flex;
        flex-direction: column;

        h2{//veux t'inscrire
            margin: 1.5em;
            text-align: center;
        }

        a{//lien d'uinscription
            border: 1px solid var(--simili-noir);
            border-radius: 50em;
            font-family: var(--police-texte);
            margin-bottom: 1.5em;
            padding: 0.4em;
            padding-left: 2em;
            padding-right: 2em;
            text-align: center;
        }
    }

}

.site_main_programme{
    hr{
        background-color: black;
        height: 2px;
        margin: 0 auto;
        margin-top: 5vh;
        margin-bottom: 5vh;
        width: 15%;  
      }
}

/*-----------------------description et inscription fin--------------------------*/

/*-----------------------liste cours--------------------------*/

.Liste_programme{ //section pour la liste de cours
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 75vw;
    h2{//Liste des cours
        margin-top: 1em;
    }

    h3{//Sessions
        margin-top: 1em;
        margin-bottom: 0.5em;
    }

    .cours_session{ //boutton de session (1 a 6)
        display: flex;
        flex-direction: row;
        justify-content: center;
        .filter-button{
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-family: var(--police-texte);
            width: 2em;
            height: 2em;
            font-size: clamp(1.125rem, 0.874rem + 0.2869vw, 1.5625rem);
        }
    }

    #content{ //liste de cours
        border-radius: 2em;
        background-color: var(--simili-noir);
        box-shadow: 12px 12px 8px 1px rgba(0,0,0,0.16);
        display: flex;
        flex-direction: column;
        height: 40em;
        overflow: hidden;
        position: relative;
        width: 100%;

        .article-button{ //boutton pour les cours
            background-color: transparent;
            border: none;
            border-bottom: 2px solid var(--blanc);
            cursor: pointer;
            font-family: var(--police-texte);
            flex: 1;
            margin-left: 5%;
            margin-right: 5%;
            font-size: clamp(1.125rem, 1.1187rem + 0.0287vw, 1.1875rem);
        }

        .article-button:last-of-type{
            border: none;
        }

        .article-content{//description d'un cours
            background-color: var(--simili-noir);
            color: var(--blanc);
            display: flex;
            flex-direction: column;
            font-family: var(--police-texte);
            padding: 1em;
            position: absolute;

            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            .boutton_retour{ //boutton retour
                background-color: transparent;
                border: 1px solid var(--blanc);
                border-radius: 50em;
                cursor: pointer;
                font-size: clamp(1.125rem, 1.1187rem + 0.0287vw, 1.1875rem);
                height: 5%;
                margin-bottom: 1em;
                width: 6em;
            }

            p{  //description du cours
                border-bottom: 2px solid var(--blanc);
                height: 65%;
                overflow: auto;
            }

            .related-projets{ //en dessous de la description d'un cours
                //align-items: center;
                display: block;
                //flex-direction: row;
                margin-top: 2em;
                text-align: center;
                width: 100%;

                a{ //voir plus de projets réalisé
                    color: var(--blanc);
                    //flex-basis: 40%;
                    
                }

                .related-articles{ //projets
                    align-items: center;
                    display: flex;
                    justify-content: space-around;
                    //flex-wrap: wrap;
                    //flex-grow: 1;
                    //height: 100%;
                    margin: 0 auto;
                    min-height: 100px;
                    //width: 60%;

                    a{
                        margin-left: 5%;
                        margin-right: 5%;
                        img{
                            border-radius: 0.5em;
                            //height: 100%;
                        }
                    }
                }

            }
        } 
    }
}

/*--------------------------------bureau------------------------*/

@media screen and (min-width : $largeur__bureau){

    .Liste_programme{

        #content{
            align-items: flex-start;

            .article-button{
                width: 90%;
                text-align: left;
            }

            .article-content{
                padding: 2em;

                button{
                    margin-bottom: 2em;
                }

                .related-projets{
                    .related-articles{
                        flex-direction: row;
                    }
                }
            }
        }

    }
}
/*---------------------------inscription bureau------------------*/
@media screen and (min-width : 1400px){ //inscription pour bureau
    .info_programme{
        width: clamp(75rem, 49.1803rem + 29.5082vw, 120rem);
        
        .description_programme{
            margin-right: 2em;
        } 
    }
    .info_programme{
        display: flex;
        align-items: center;
        margin: 0 auto;

        .description_programme{
            flex: 2;
        }
        .inscription_programme{
            margin-right: 5%;
            border-radius: 2em;
            flex: 1;
        }

        hr{
            display: none;
        }
    }
    .Liste_programme{
        width: clamp(75rem, 49.1803rem + 29.5082vw, 120rem);
    }
}

/*------------------------projet dans description cours--------------*/

@media screen and (min-width : 700px){
    .Liste_programme{
        #content{
            .article-content{
                .related-projets{
                    display: flex;
                    //height: 20%;

                    a{
                        flex-basis: 40%;
                    }
                    .related-articles{
                        //flex-wrap: nowrap;
                        flex-basis: 60%;
                    }
                }
            }
        }
    }
}

/*-----------------------liste cours fin--------------------------*/