/* Pour front-page.php */
/*
CSS Duotone Generator
*/

/* CSS variables. Not needed for the effect to work. */


.media_vedette {
  /* animation: anim_media 6s infinite reverse;*/
   /* background-color: var(--test);*/
 

    height: 100%;
    min-height: 100%; 
    opacity: 0.8;
    position: relative;
    width: 100%;

    img {
      width: 100%;
    }
   
  }

:root {
  --base:              hsl(29, 100%, 55%);
  --base2:              hsl(180, 100%, 92%);
  --bg-blend:          multiply;
  --blur:              0px;
  --fg-blend:          lighten;
  --foreground:       hsl(236, 18%, 19%);
  --opacity:           1;
  --spacing:           1%;
}
.img-wrapper {
  background-color:    var(--base);
  display:             flex;
  flex:                1 1 100%;
  height:              100%;
  overflow:            hidden;
  padding:             var(--spacing);
  position:            relative;
}

.img-wrapper-2  {
  background-color:    var(--base2);
}

.img-wrapper img {
  filter:              grayscale(100%) contrast(1) blur(var(--blur));
  flex:                1 0 100%;
  height:              100%;
  max-width:           100%;
  mix-blend-mode:      var(--bg-blend);
  object-fit:          cover;
  opacity:             var(--opacity);
  position:            relative;
  width:               100%;
}

.img-wrapper::before {
  background-color:    var(--foreground);
  bottom:              0;
  content:             '';
  height:              100%;
  left:                0;
  mix-blend-mode:      var(--fg-blend);
  position:            absolute;
  right:               0;
  top:                 0;
  width:               100%;
  z-index:             1;
}
