.Profs{
    background-color: var(--primaire);
    padding-top: 8vw; // espacement haut
    padding-bottom: 6vw; // espacement bas
    width: 100%; // largeur
    a{
        color: var(--blanc); //a retirer
    }
    h2{ // le titre
      text-align: center;
      padding-bottom: 8vw;
      width: 80vw;
      margin: 0 auto;
    }

    // .carousel-content{
    //     height: 75vw;
    // }
    .Carrou__article{
      height: 135vw; // valeur origine : 75 vw
        .carousel-navigation {
            padding-top: 3rem;
        }
    }
    .categorie__article{ 
        // background-color: var(--simili-noir);
        // border-radius: 2em; // arrondir les coins
        color: var(--blanc); // couleur texte blanc
        display: flex;
        flex-direction: column;
        height: 110vw; // valeur origine : 55 vw
        overflow: hidden; // pour que les coin du haut reste courber
        text-align: center; // Center le texte
        width: 75vw;
        gap: 5vw;
    
        // Les informations necessaires/importants -titre -image -Date
        .image_titre_date{
          background-color: var(--simili-noir);
          height: 100%;
          overflow: hidden; // pour garder les coins arrondis
          width: 100%;
          border-radius: 1em;

          .contenant__image {
            height: 80%;
            margin: 0;
            overflow: hidden;
            padding: 0;
            position: relative;
            a img{
              height: 100%;
              margin: 0;
              left: 0;
              max-width: 100%;
              object-fit: cover;
              object-position: center center;
              position: absolute;
              width: 100%;
            }
          }
         .contenant__titre{
            align-items: center;
            display: flex;
            flex-direction: column;
            height: 20%; // le full height (55vw) - l'hauteur de l'image ( 80% de 55 vw )
            justify-content: center;
            margin: auto;
          }
        }
        // Les informations secondaires -Descriptions -additionnels -information de l'articles
        .content{
          background-color: var(--simili-noir);
          // display: none;
          // position: absolute; 
          border-radius: 1em;
          overflow-x: hidden;
          height: 100%;
          width: 75vw;
          .contenant_contenu{
            height: 90%;
            margin: 5%;
            // overflow-y: auto;
          }
        }
      }
}

 
  @media screen and (min-width:$largeur__tablette){ // Début requête média Tablette
    .Profs { 
      padding: 4vw 0;
      h2{ // le titre
        padding-top: 0;
        padding-bottom: 3rem;
      }
      // .carousel-content{
      //   height: clamp(300px, 400px, 500px);
      //   .carousel-item{
      //       height: clamp(300px, 400px, 500px);
      //   }
      // }
      .Carrou__article{ // le div qui contient tous les boîtes d'évènements récents
        /* Boite d'évènement récent */
        height: 40vw;
        .categorie__article{ 
          border-radius: 0; // on enleve l'arrondissement et on met au enfant
          height: 30vw;
          justify-content: space-between; // met un à cote de l'autre
          width: 80vw; // ajustement de largeur
          flex-direction: row;
          gap: 0;
  
          // Les informations necessaires/importants -titre -image -Date
          .image_titre_date{
            border-radius: 1em; // arrondis
            overflow: hidden; // pour garder les coins arrondis
            width: 35vw;
          }
          // Les informations secondaires -Descriptions -additionnels -information de l'articles
          .content{ // contenant qui contient toutes les informations secondaires
            border-radius: 1em; // arrondis
            display: block; // afficher le contenu
            height: 100%;
            margin: 0%;
            position: relative;
            width: 44vw; // grosseur
            .contenant_contenu{  // contenu
              position: absolute; // necessaire pour centre le contenu
              top: 50%; // necessaire pour centre le contenu
              left: 50%; // necessaire pour centre le contenu
              transform: translate(-50%, -50%); // necessaire pour centre le contenu
              margin: auto; // necessaire pour centre le contenu
              height: 25vw;
              // line-height: 25vw;
              overflow-y: auto;
              overflow-x: hidden;

              .wp-block-group__inner-container{
                flex-direction: column;
              }
              p,h5,div{
                margin: 0 auto; // centrer horizontal
                width: 38vw; // largeur
                display: inline-block;
                vertical-align: middle;
              }
            }
          }
        }
      }
    }
  }// Fin requête média Tablette
  @media screen and (min-width:$largeur__bureau_large){ // Début requête média Bureau
    .Section_carrousel { 
      padding: 3vw 0;
      .Carrou__article{ // le div qui contient tous les boîtes d'évènements récents
        height: 27vw;
        /* Boite d'évènement récent */
        .categorie__article{ 
          height: 20vw;
          width: 65vw;
          // Les informations necessaires/importants -titre -image -Date
          .image_titre_date{
            width: 25vw;
          }
          .content{
            width: 44vw;
            margin-left: 1rem;

            .contenant_contenu{  // contenu
              height: 20vw;
              line-height: normal;

              .wp-block-group__inner-container{
                flex-direction: column;
              }
              p,h5,div{
                margin: 0 auto; // centrer horizontal
                width: 34vw; // largeur
                display: inline-block;
                vertical-align: middle;
              }
            }
            .contenant_contenu{
              height: fit-content;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
  }