.temoignage{ // section
    background-color: var(--primaire);
    padding-top: 8vw; // espacement haut
    padding-bottom: 6vw; // espacement bas
    width: 100%; // largeur
    h2{ // le titre
        text-align: center;
        padding-bottom: 8vw;
        width: 80vw;
        margin: 0 auto;
    }
    .temoignage__article {
        height: 135vw; //à enlever quand carrousel mis à jour sur le site
    }
    .categorie__article{ 
    color: var(--blanc); // couleur texte blanc
    display: flex;
    flex-direction: column;
    height: 110vw;
    overflow: hidden; // pour que les coin du haut reste courber
    text-align: center; // Center le texte
    width: 75vw;
    gap: 5vw;

    div{
      width: 100%;
    }
    // Les informations necessaires/importants -titre -image -Date
    .image_titre_date{
      background-color: var(--simili-noir);
      border-radius: 1em;
      height: 100%;
      overflow: hidden; // pour garder les coins arrondis
      width: 100%;

      .contenant__image {
        height: 75%;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: relative;
        a img{
          height: 100%;
          margin: 0;
          left: 0;
          max-width: 100%;
          object-fit: cover;
          object-position: center center;
          position: absolute;
          width: 100%;
        }
      }
     .contenant__titre{
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 25%; // le full height (55vw) - l'hauteur de l'image ( 80% de 55 vw )
        justify-content: center;
        margin: auto;
        .conteneur_date{
          font-size: 12px;
          display: none;
          gap: 0.3vw;
          align-items: center;
          justify-content: center;
          @media screen and (min-width:450px){ // Début requête média Bureau
            display: flex; 
          }
        }
      }
    }
    // Les informations secondaires -Descriptions -additionnels -information de l'articles
    .content{
      background-color: var(--simili-noir);
          // display: none;
          // position: absolute; 
          border-radius: 1em;
          overflow-x: hidden;
          height: 100%;
          width: 75vw;
          padding: 5%;
          .contenant_contenu{
            height: 90%;
          }
    }
  }
}

@media screen and (min-width:$largeur__tablette){
    .temoignage{ // section
        padding: 4vw 0;
        h2{ // le titre
            padding-bottom: 3vw;
        }
        .temoignage__article{
            height: 40vw;
            .categorie__article{ 
                border-radius: 0; // on enleve l'arrondissement et on met au enfant
                height: 30vw; // ajustement de l'hauteur
                justify-content: space-between; // met un à cote de l'autre
                width: 80vw; // ajustement de largeur
                flex-direction: row;
                gap: 0;
                // Les informations necessaires/importants -titre -image -Date
                .image_titre_date{
                    border-radius: 2vw; // arrondis
                    overflow: hidden; // pour garder les coins arrondis
                    width: 35vw;
                }
                // Les informations secondaires -Descriptions -additionnels -information de l'articles
                .content{ // contenant qui contient toutes les informations secondaires
                    border-radius: 2vw; // arrondis
                    display: block; // afficher le contenu
                    position: relative; // necessaire pour centre le contenu
                    // text-align: left; // pour que le texte s'affiche vers la gauche
                    height: 100%;
                    margin: 0%;
                    width: 44vw; // grosseur
                    overflow: hidden;

                    .contenant_contenu{  // contenu
                        // align-items: center;
                        // display: flex;
                        // flex-direction: column;
                        // gap: 0.3vh;
                        height: 25vw;
                        justify-content: center;
                        top: 50%; // necessaire pour centre le contenu
                        left: 50%; // necessaire pour centre le contenu
                        margin: auto; // necessaire pour centre le contenu
                        position: absolute; // necessaire pour centre le contenu
                        transform: translate(-50%, -50%); // necessaire pour centre le contenu
                        width: fit-content;
                        overflow-y: auto;
                        overflow-x: hidden;
                        
                        p,h5,div{
                            margin: 0 auto; // centrer horizontal
                            width: 38vw; // largeur
                            display: inline-block;
                            vertical-align: middle;
                            padding: 0.5vw;
                        }
                    }
                    .contenant_contenu p:first-of-type{
                        display: block;
                    }
                    @media screen and (min-width : 1400px){ //inscription pour bureau
                        .contenant_contenu{  // contenu
                            p,h5{
                                display: block;
                            }
                            div{
                                display: flex;
                            }
                        }
                    }
                }
            }
        }   
    }
}   
@media screen and (min-width:$largeur__bureau_large){
    .temoignage{ // section
        padding: 3vw 0;
        .temoignage__article{
            height: 27vw;
            .categorie__article{ 
                height: 20vw;
                width: 65vw;
                // Les informations necessaires/importants -titre -image -Date
                .image_titre_date{
                    width: 25vw;
                    .contenant__titre{
                        height: 5vw; // le full height - l'hauteur de l'image
                    }
                }
                .content{
                    width: 44vw;
                    margin-left: 1rem;
                    .contenant_contenu{  // contenu
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                        gap: 0.3vh;
                        height: fit-content;
                        line-height: normal;

                        p,h5,div{
                            margin: 0 auto; // centrer horizontal
                            width: 34vw; // largeur
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                }
            }
        }
    }
}