/* 
** Tout ce qui concerne la balise header
*/

.site_entete {
  background-color: var(--noir);
  min-height: 5vh;
  width: 100%;
  display: flex;

}

.logo-TIM{
  display: flex;
  justify-content: center;
  width: 10vw;
}

.titre-header{
  display: none;
}


  .main-navigation {
    //display: flex;
    width: 80vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    ul {
      display: none;
      /*position : absolute;*/
      width : 100%; 
      padding-top: 2vh;
      list-style: none;
      margin: 0;
      padding-left: 0;
     
      text-align : left;
      z-index: 99999;

      li{
        font-family: var(--police-titre);
        font-size: 21px;
      }
  
    }

  
    a {
      display: block;
      text-decoration: none;
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;
      border-bottom: 2px solid var(--blanc);

      color: var(--blanc);
      text-decoration: none;
      &:visited {
      color: var(--complementaire);
      }
      &:hover,
      &:focus,
      &:active {
        color: var(--primaire);
      }
    }

  
  /* -----------------------------------------------------------------------------
  Barre de recherche
  ------------------------------------------------------------------------------*/
  .site__header__recherche{
    display: none;
    
    .recherche > label{
      width: 80vw;
      height: 5vh;
    }

    @media screen and (min-width : 992px){
      display: flex;
      position: absolute;
      right: 1vw;

      .recherche > label{
        width: 30vw;
        height: 3vh;
      }
    }
  }
  
  }
  /* -----------------------------------------------------------------------------
  Bouton burger 
  ------------------------------------------------------------------------------*/
  .boutton {
    display : flex;
    //height: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-top: 3%;
  
  }
  .menu-toggle{
    display: block;
    background-color: transparent;
    border: none;
  }
  
  
  .main-navigation.toggled{
    height: 100vh;
    justify-content: space-around;
    display: block;

    .site__header__recherche{
      display: flex;
      justify-content: flex-start;
      margin-top: 5vh;
      
    }
  }
  
  
  .menu-toggle,
  .main-navigation.toggled ul {
    display: block;
  }
  /* ---------------------------------------------------------------------------
  menu tablet
  ------------------------------------------------------------------------------ */
  @media screen and (min-width : 992px) {

    .site_entete{
      height: 6vh;
    }
  
    .main-navigation{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;
      margin-right: 2vw;

      .menu{ 
        padding-right: 22vw;
      }

      ul{

        li{
          font-size: 18px;
        }
      }

      a{
        padding-left: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: none;
      }
    }
    
    .menu-toggle {
      display: none;
    }
    .main-navigation.toggled ul,
    .main-navigation ul {
      display: flex;
      padding-top: 0;
      //position : static;
      justify-content: flex-end;
      padding-right: 5%;

      
      a[href='#']::after{
        display : none;
      }


  
    ul {
      display : none;
      
    }	
    }
  }
  
    .menu-toggle.menu-toggled {
    opacity: 1;
  }