/* 
** Tout ce qui concerne la balise footer
*/


.site_pied_page {
  align-items: center;
  background-color: var(--noir);
  color: var(--blanc);
  display: flex;
  justify-content: space-evenly;
  min-height: 10vh;
  width: 100%;

}