/* 
** Tout ce qui concerne la balise header
*/
  .main-navigation {
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;

    background-color: var(--noir);
  height: var(--hauteurHeader);
  width: 100%;
  display: flex;
  z-index: 9999;

    .titre_boutton{
      display: flex;
      height: var(--hauteurHeader);
      width: 80%;
      margin: 0 auto;
    
      .logo-TIM{
        align-items: center;
        display: flex;
        flex-basis: 50%;
      }
      
      .titre-header{
        display: none;
      }
    
    }

    ul {
      display: none;
      width : 80%; 
      list-style: none;
      padding-left: 0;
     
      text-align : left;
      z-index: 99999;

      li{
        font-family: var(--police-titre);
        font-size: 21px;
      }
  
    }
  
  }
  /* -----------------------------------------------------------------------------
  Bouton burger 
  ------------------------------------------------------------------------------*/
  .boutton {
    display : flex;
    flex-basis: 50%;
    justify-content: flex-end;
    align-items: center;

    button{
      cursor: pointer;
    }
  
  }
  .menu-toggle{
    display: block;
    background-color: transparent;
    border: none;
  }
  
  
  .main-navigation.toggled{
    height: 100vh;
    display: block;

    .site__header__recherche{
      align-items: center;
      display: flex;
      height: 15vh;
      justify-content: flex-start;
      margin: 0 auto;
      width: 80%;
      
    }

    .menu-menu-principal-container{
      display: flex;
      ul{
        display: flex;
        flex-direction: column;
        height: 65vh;
        margin: 0 auto;

        li{
          align-items: center;
          border-bottom: 2px solid var(--blanc);
          display: flex;
          flex: 1;
        }
      }
    }
  }

  /* ---------------------------------------------------------------------------
  menu bureau
  ------------------------------------------------------------------------------ */
  @media screen and (min-width : $largeur__bureau) {

    .site_entete{
    }
  
    .main-navigation{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: row;
      width: 100%;

      .titre_boutton{
        position: absolute;
        left: 6.8%;
        width: auto;
        
        .logo-TIM{
          flex-basis: 100%;
        }

        .boutton{
          flex-basis: 0%;
        }
      }

      .site__header__recherche{
        order: 3;
        margin-right: 6.5%;
      }

      ul{

        li{
          font-size: 18px;
          margin-left: 0.8em;
          margin-right: 0.8em;
        }
      }
    }
    
    .boutton {
      display: none;
    }
    .main-navigation.toggled ul,
    .main-navigation ul {
      display: flex;
      padding-top: 0;
      
      a[href='#']::after{
        display : none;
      }


  
    ul {
      display : none;
      
    }	
    }
  }
  
    .menu-toggle.menu-toggled {
    opacity: 1;
  }