/* 
** Tout ce qui concerne la balise main
*/

.site_main {
  background-color: hsl(180, 13%, 75%);
  min-height: 80vh;
  width: 100%;
}

.site_main_accueil {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}